@charset "UTF-8";

/* Media Query Tablet */
@media screen and (min-width: 630px) and (max-width: 992px) {
    #logo {
        margin-left: 2vw;
    }

    nav {
        margin-right: 3vw;
    }

    nav a {
        font-size: 1.1em;
    }
}


/* Media Query Desktop e Notebook */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    #logo {
        margin-left: 2vw;
    }
    
    nav {
        margin-right: 3vw;
    }

    nav a {
        font-size: 1.3em;
    }
}


/* Media Query Desktop, Notebook grande e telas grandes */
@media screen and (min-width: 1200px) {
    #logo {
        margin-left: 2vw;
    }
    
    nav {
        margin-right: 3vw;
    }

    nav a {
        font-size: 1.3em;
    }
}